.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .table {
    border-collapse: collapse;
    margin-bottom: var(--space-2);
    max-width: 1200px;
    width: 100%;
  }
}
