.container {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  .card {
    padding: var(--space-4);
    box-shadow: var(--shadow-4);

    .title {
      margin-bottom: var(--space-2);
    }

    .link {
      margin-top: var(--space-4);
      text-decoration: none;
      text-align: center;
      display: block;
    }
  }
}
