.input {
  flex-grow: 1;
  font-size: var(--font-size-2);
  width: 100%;

  &.dateInput {
    width: fit-content;
  }

  .header {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .inputLabel {
    font-weight: var(--font-weight-bold);
    color: var(--gray-12);
  }
}
