.section {
  &, .items {
    display: flex;
    flex-direction: column;
  }

  .title {
    padding: var(--space-1) var(--space-2);
    font-size: 0.625rem;
    font-weight: var(--font-weight-bold);
    color: var(--accent-1);
    opacity: 0.75;

    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
