.container {
  background: var(--gray-2);
  border: thin solid var(--gray-4);
  padding: var(--space-2);
  border-radius: var(--radius-2);

  text-align: left;

  .header {
    display: flex;
    gap: var(--space-2);
    align-items: center;
  }

  .table {
    margin-top: var(--space-2);
    font-size: var(--font-size-1);

    td, th {
      padding-right: var(--space-3);
      padding-bottom: var(--space-1);

      &.actions {
        padding-left: var(--space-2);
        display: flex;
        gap: var(--space-2);
      }
    }
  }
}
