.container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow-3);

  position: sticky;
  z-index: 1;
  top: 0;

  backdrop-filter: blur(10px);
  padding: var(--space-4);

  .header {
    width: 100%;
    max-width: 800px;

    display: flex;
    justify-content: space-between;
  }
}
