.cell {
  border: 1px solid var(--gray-4);
  padding: var(--space-1) var(--space-2);
  background: var(--blue-2);
  color: var(--blue-11);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--space-2);
    margin-bottom: var(--space-2);

    &.sortable {
      cursor: pointer;
    }
  }
}
