.container {
  display: flex;
  gap: var(--space-2);

  .details {
    display: flex;
    flex-direction: column;

    .role {
      font-size: var(--font-size-1);
      color: var(--gray-9);
    }

    .name {
      font-size: var(--font-size-2);
      color: var(--gray-1);
    }
  }
}
